<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSFaceIDUsageDescription</key>
	<string>Last Logged uses Face ID to protect your data and keep your tracked items private.</string>
	<key>NSSupportsLiveActivities</key>
	<true/>
</dict>
</plist>
